@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
* { 
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
.menu {
  background-color:#2b2a2a;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Dancing Script', cursive;  
}
.galerii {
width: 550px;
}
.galerii1{
    width: 550px;
}
.conteiner {
    background-color: white;
    display: flex;
    justify-content: center;
}
h1{
    color: white;
    margin-left: 2rem;
    max-width: max-content;
    font-family: 'Dancing Script', cursive;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin-right: 2rem;
}

.about {
    background-color: #2b2a2a ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;   
}
.aboutPic{
    height: 300px;
}
.wrap{
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
p{
    color: white;
    max-width: 300px;
    padding-left: 35px;
    padding-top: 20px;
    font-family: 'Rozha One', serif;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
input{
    margin-bottom: 10px;
    padding: 10px;
    width: 500px;
    border-radius: 5px;
    
}
.message{
    height: 40px;
    padding-bottom: 100px;
}
button{
    border-radius: 50px;
    height: 50px;
    width: 200px;
    font-size: 30px;
}
iframe{
    padding-top: 50px;
}
.videos{
    display: flex;
}
.leftvideo{
    margin-right: 20px;
}


@media only screen and (max-width: 600px) {
    p { 
        font-size: 12px;
    }
    .aboutPic{
        height: 150px;
    }
    .wrap{
        flex-direction: column;
    }
    iframe{
        width: 350px;
    }
    input{
        width: 300px;
    }
    .videos{
        flex-direction: column;
    }
    .leftvideo{
        margin-right: 0px;
    }
    a {
        font-size: 1em;
    }
    
}
  a:hover {
    color: lightblue;
  }









